{% extends "base.html" %}

{% block content %}
<div class="social-header py-5 bg-light">
    <div class="container">
        <h1 class="text-center">SNS</h1>
        <p class="text-center">最新情報はSNSでチェック！</p>
    </div>
</div>

<section class="social-links-section py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <div class="social-links mb-4">
                    <a href="https://www.instagram.com/PLACEHOLDER" class="mx-3" target="_blank">
                        <i class="fab fa-instagram fa-3x"></i>
                        <p class="mt-2">Instagram</p>
                    </a>
                </div>
                <div class="social-links mb-4">
                    <a href="https://twitter.com/PLACEHOLDER" class="mx-3" target="_blank">
                        <i class="fab fa-twitter fa-3x"></i>
                        <p class="mt-2">Twitter</p>
                    </a>
                </div>
                <div class="social-links mb-4">
                    <a href="https://www.facebook.com/PLACEHOLDER" class="mx-3" target="_blank">
                        <i class="fab fa-facebook fa-3x"></i>
                        <p class="mt-2">Facebook</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
