{% extends "base.html" %}

{% block content %}
<div class="store-header py-5 bg-light">
    <div class="container">
        <h1 class="text-center">店舗情報</h1>
    </div>
</div>

<section class="store-info py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <h2>営業時間</h2>
                <table class="table">
                    <tr>
                        <th>月-土</th>
                        <td>17:00 - 23:00</td>
                    </tr>
                    <tr>
                        <th>日曜・祝日</th>
                        <td>定休日</td>
                    </tr>
                </table>

                <h2 class="mt-4">アクセス</h2>
                <p>
                    〒233-0016<br>
                    神奈川県横浜市港南区下永谷<br>
                    下永谷駅から徒歩3分
                </p>

                <h2 class="mt-4">お問い合わせ</h2>
                <p>
                    電話: 045-822-3723<br>
                    メール: info@odendai8.jp
                </p>
            </div>
            <div class="col-md-6">
                <div id="map" style="height: 400px;">
                    <iframe 
                        width="100%" 
                        height="100%" 
                        frameborder="0" 
                        style="border:0" 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12990.859133169668!2d139.68282423491752!3d35.56954918876451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60185fe499fd0001%3A0xccf3697c725296be!2z44GK44Gn44KT5Y-w5YWr!5e0!3m2!1sja!2sjp!4v1702640433649!5m2!1sja!2sjp" 
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <h2>店内の様子</h2>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <img src="https://images.unsplash.com/photo-1504416285472-eccf03dd31eb" class="img-fluid rounded" alt="Restaurant interior">
                    </div>
                    <div class="col-md-6 mb-4">
                        <img src="https://images.unsplash.com/photo-1534349762230-e0cadf78f5da" class="img-fluid rounded" alt="Traditional decoration">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
